<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="img/favicon.png" rel="icon">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  {{!-- <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8"> --}}
  <link rel="stylesheet" href="/css/handlebarStyle.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <title>Most Popupar Recipes</title>
</head>

<body>
  {{{body}}}
</body>

</html>
