<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Let's cook!</h5>
          <p>
            <strong>Name</strong>: {{example.name}}</p>
          <p>
            <span>time needed:</span> <span>{{example.minutes}}minutes</span>
          <p>
            <strong>Ingredients</strong>: {{example.ingredients}}</p>
          <p>
            <strong>Process:</strong> {{example.process}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
